



























































.modal{
  width: 408px;
  min-height: 584px;
}

.modal-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #E7E9FC;
  position:absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus{
  background-color: #404BBF;
  border: none;
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    fill: #FFFFFF;
}

.modal-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form{
  display: flex;
  flex-direction: column;

}

.form-item{
  margin-bottom: 8px;
}

.form-item.comment{
  margin-bottom: 16px;
}

.form-item.custom-policy{
  margin-bottom: 24px;
}

.modal-label{
  display: block;
  flex-direction: column;
  color: #8E8F99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-form-item{
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px 8px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}

.modal-input.textarea {
  resize: none;
  padding: 8px 16px;
  height: 120px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-form-item:focus-within .modal-input,
.modal-input.textarea:focus-within{
  border-color: #4D5AE5;
}


.input-icon{
  fill: #2E2F42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-form-item:focus-within .input-icon{
  fill: #4D5AE5;
}



.checkbox-custom{
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  cursor: pointer;
  
  }

  .checkbox-custom svg{
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.checkbox-input:checked + .modal-label .checkbox-custom {
 background-color: #404BBF;
 border: none;
 fill: #F4F4FD;
}

.checkbox-input:checked + .modal-label .checkbox-custom svg{
  fill: #F4F4FD;
}

.policy-link{
  color: #4d5ae5;
}

.modal-submit-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  display: block;
  justify-content: center;
  margin: 24px auto 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404BBF;
}

.modal-label.checkbox{
  flex-direction: row;
  align-items: center;
}

.checkbox-input{
  margin-right: 8px;
}

.policy-link{
  color: #4d5ae5;
  text-decoration: underline;

}